{{#each blogs as |blog|}}
    <div class="card">
        <a class="blog-anchor" href="/blog/{{blog.id}}">
          <div class="card-body">
            <h3 class="card-title">
              {{blog.title}}
            </h3>
            <h6 class="card-subtitle mb-2 text-muted">
              Posted by {{blog.user.name}} {{format_date blog.date_created}}
            </h6>
            <p class="card-text">
              {{blog.content_blog}}
            </p>
          </div>
        </a>
    </div>
{{/each}}

<a href="/blog/post" class="btn btn-success btn-lg mt-5">
        +Add a post</a>